@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-size: 11px;
  --logo-size: 3rem;
  --hf-max-width: 2160px;
  --site-padding: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-gtAmericaMono);
  font-weight: 400;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tsf {
  line-height: 1.3;
  margin-bottom: -0.1ch;
  margin-top: -0.1ch;
}
