@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --text-size: 11px;
    --logo-size: 3rem;
    --hf-max-width: 2160px;
    --site-padding: 2rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-gtAmericaMono);
  font-weight: 400;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ts {
  overflow: hidden;
}

.tsf {
  line-height: 1.3;
  margin-bottom: -0.1ch;
  margin-top: -0.1ch;
}

.tsl {
  display: block;
  will-change: transform;
  transition: translate 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.tsl:not(.tsa) {
  --tw-translate-y: 120%;
  translate: var(--tw-translate-x) var(--tw-translate-y);
}
