.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  &__innerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--site-padding);
    margin: 0 auto;
  }

  span {
    font-size: var(--text-size);
  }
}
